*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
body{
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;
}
.conteiner{
    width: 320px; 
    margin: 20px auto;
  border-radius: 20px;
    background-color: white;
    padding: 16px;
    overflow: hidden;

}

.conteiner img{
   max-width: 100%;
   border-radius: 20px;
}
.conteiner h1{
    max-width: 100%;
    padding: 16px 0 16px 0;
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    color:#1f314f;
    
}
.conteiner p{
    max-width: 100%;
    padding: 0 0 24px 0;
    font-size: 15px;
    text-align: center;
    line-height: 19px;
    letter-spacing: 0.1875px;
    color:#7d889e;
}

