*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d5e1ef;


}
.conteiner{
    width: 320px; 
    margin: 20px auto;
  border-radius: 20px;
    background-color: white;
    padding: 16px;
    overflow: hidden;

}

.conteiner img{
   max-width: 100%;
   border-radius: 20px;
}
.conteiner h1{
    max-width: 100%;
    padding: 16px;
    font-size: 22px;
    text-align: center;
    
}
.conteiner p{
    max-width: 100%;
    padding: 0 32px 40px 32px ;
    font-size: 15px;
    text-align: center;
}